button {
    color: #fff;
    background-color: #000;     
   
    padding: 12px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    
}

body {
    font-family: Open Sans;
    background-color: #f9fafc;
}

ul.grey {
    color: #69696a;
}

h2 {
    font-size: 50px;    
    margin-left: 2rem;
}

p {
    margin-left: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
}